In [61]:
import numpy as np
import pandas as pd
import os

In [27]:
cols = ["Summary", "Text"]

## Dataset "data_summary.csv"

In [24]:
df0 = pd.read_csv("data/unprocessed/data_summary.csv").dropna(how="any")
df0 = df0.iloc[:, 1:]

In [20]:
df0

,Summary,Text
0,Ngay khi bắt tay ai đó có thể chúng ta đã cảm ...,Tổng thống Mỹ Donald Trump và Tổng thống Pháp ...
1,"Rời khỏi Việt Nam vào 10/2016, ông Vũ Đình Duy...",Vũ Đình Duy hồi tháng 5 xuất hiện trước tòa tạ...
2,Thủ tướng Iraq xác nhận với BBC rằng Syria khô...,Ông Maliki xác nhận các vụ không kích của Syri...
3,Người Việt Nam biết rất ít về ông Trump nhưng ...,Tiến sỹ Vũ Cao Phan tin rằng nếu được tiến hàn...
4,Bốn khoa học gia người Mỹ từng đoạt giải Nobel...,GS Jack Steinberger trao đổi với GS Lê Kim Ngọ...
5,"Chính phủ Singapore cho hay cựu thủ tướng, ngư...",Lý Quang Diệu được cho là người đứng đằng sau...
6,Các thỏa thuận trị giá nhiều tỷ USD giữa Hoa K...,Tổng thống Mỹ Donald Trump và phu nhân tới Sau...
7,Kết thúc phiên kiểm định định kỳ phổ quát về t...,"Ông Hà Kim Ngọc, Thứ trưởng Bộ Ngoại giao phát..."
8,Liên đoàn Bóng đá Việt Nam xin lỗi đội tuyển I...,"Trận đấu lượt về ở sân Mỹ Đình Đêm 7/12, sau t..."
9,Tòa án tỉnh Đồng Nai vừa tuyên án tù ba nhà ho...,Bà Lê Thị Phương Anh (giữa) cùng chồng đã giúp...

## Dataset "haianhjobs.csv"

In [29]:
df1 = pd.read_csv("data/unprocessed/haianhjobs.csv").dropna(how="any").iloc[:,3:5]
df1.columns = cols

In [32]:
df1

,Summary,Text
0,"Lâm Đồng - Lãnh đạo thành phố Bảo Lộc, Lâm Đồn...","Những ngày vừa qua, trên trang Facebook chính ..."
1,TPHCM - Việc không thể cưỡng chế thuế của hai ...,"Theo thông tin từ Cục Thuế TP.HCM, hiện cơ qua..."
2,"Hiện trên địa bàn tỉnh Ninh Bình có 32 khu, cụ...",CNLĐ mong muốn sớm được tiếp cận với nhà ở xã ...
3,Hoàn công nhà ở với ý nghĩa là điều kiện để đư...,Hoàn công nhà ở là một thủ tục hành chính tron...
4,Có rất nhiều lý do khiến những dự án thấp nội ...,Đi dọc đường Lê Văn Lương kéo dài xuống khu Dư...
...,...,...
313303,"Sáng nay (7.10) tại tỉnh Quảng Trị, đồng chí N...",Đoàn cứu trợ đã trực tiếp về huyện Vĩnh Linh v...
313304,"Sáng nay (7.10), tại Nghệ An, Quỹ Tấm lòng vàn...",Đồng chí Phạm Anh Tuấn cũng cho biết: Chiều qu...
313306,Đại diện Quỹ Tấm lòng Lao Động và LĐLĐ Phú Yên...,Số tiền trên được trích từ nguồn Quỹ Tấm lòng ...
313307,"Tính đến chiều 5.10, Quỹ Tấm lòng vàng (TLV) L...","Theo đó, Quỹ TLV Lao Động quyết định hỗ trợ 6..."
313309,Hưởng ứng lời kêu gọi của Đoàn Chủ tịch TLĐLĐ ...,Để giúp CNVC-LĐ và nhân dân 6 tỉnh Miền Trung ...

## Dataset "Nhut_nguyen_data_without_n.csv"

In [51]:
df2 = pd.read_csv("data/unprocessed/Nhut_nguyen_data_without_n.csv").dropna(how="any").iloc[:,:2]
df2 = df2[df2.columns.tolist()[::-1]]
df2.columns = cols

In [52]:
df2

,Summary,Text
0,﻿ Bộ Khoa học và Công nghệ đã tổ chức Hội nghị...,﻿Bộ Khoa học và Công nghệ tổ chức Hội nghị côn...
1,﻿ Công đoàn Bộ Khoa học và Công nghệ đã tổ chứ...,﻿Hội nghị tập huấn công tác Công đoàn Bộ KH&CN...
2,﻿Lãnh đạo UBND tỉnh Phú Thọ và Lãnh đạo Bộ Kho...,﻿Bộ trưởng Bộ Khoa học và Công nghệ làm việc t...
3,﻿Bộ trưởng Bộ Khoa học và Công nghệ đã có buổi...,﻿Việt Nam - Hàn Quốc: Tiếp tục đẩy mạnh hợp tá...
4,﻿Bộ Khoa học và Công nghệ tổ chức khóa tập huấ...,﻿Tập huấn về phương pháp và kỹ năng định giá c...
...,...,...
195,Sở Tài chính tỉnh Bình Phước vừa có tờ trình g...,"﻿bán đấu giá đất cao su sai quy định, quan chứ..."
196,﻿Trong số 108 loài động vật hoang dã xuất hiện...,﻿108 loài động vật hoang dã bị rao bán trên In...
197,"Trong cuộc họp Bộ trưởng ngoại giao ASEAN, các...",﻿Biển Đông ‘nóng’ trên bàn nghị sự ASEAN Tại ...
198,"Đúng 11 giờ 35 phút ngày 26-1, chiếc máy bay t...",﻿Trang bị ‘mắt thần’ cho Cảnh sát biển Việt Na...
199,Trong báo cáo dự toán ngân sách 2013 trình bày...,﻿Cần tăng lương vào thời điểm hợp lý Trong bá...

## Dataset "openhust_with_id.csv"

In [54]:
df3 = pd.read_csv("data/unprocessed/openhust_with_id.csv").dropna(how="any").iloc[:,1:3]
df3 = df3[df3.columns.tolist()[::-1]]
df3.columns = cols

In [57]:
df3

,Summary,Text
0,"Các quận , huyện , thị xã tuyên truyền bằng nh...","Theo đó , các sở , ngành trên địa bàn phải vào..."
1,Cháu bé được phát hiện trong tình trạng chưa c...,"Chiều 12/3 , ông Vũ Hùng Triều , Trưởng phòng ..."
2,Báo tuyết ( Panthera uncia ) được mệnh danh là...,"Thoạt đầu nhìn vào bức ảnh , nếu không có dấu ..."
3,"Thấy con chim bị mắc bẫy rơi xuống hồ nước , a...","Khoảng 9h30 sáng 5/6 , anh Đào Nhật Tuấn ( 30 ..."
4,"Loại "" huyết thanh nói thật "" mà CIA sử dụng đ...",Liên minh Tự do Dân sự Mỹ ( ACLU ) đã nhận đượ...
...,...,...
21299,Sussex Spaniel là một giống chó xù có nguồn gố...,Tổng quan\nGiống chó xù tai rũ này đã phát tri...
21300,"Chó Tahiti (tiếng Tahitian: īrī Mā'ohi, theo n...",Khảo cổ học\nCác ghi chép khảo cổ chỉ ra rằng ...
21301,Chó săn lội nước Spaniel Tweed (Tiếng Anh:Twee...,Ngoại hình và tính khí\nChó săn lội nước Spani...
21302,Ngựa Welara là một giống ngựa lai Ả Rập một ph...,Lịch sử\nPhép lai bắt đầu được thực hiện giữa ...
21303,Chó Chó Springer Spaniel Wales (tiếng Anh:Wels...,Sức khỏe\nChó Springer Spaniel Wales nhìn chun...

## Export all to single csv

In [58]:
dfs = [df0, df1, df2, df3]

In [64]:
for i, df in enumerate(dfs):
    if (i == 0):
        df.to_csv("data/processed/processed_data.csv",index=False, header=True)
    else:
        df.to_csv("data/processed/processed_data.csv", mode="a",index=False, header=False)

## Validate

In [65]:
np.sum([df.shape[0] for df in dfs])

431121

In [66]:
pd.read_csv("data/processed/processed_data.csv")

,Summary,Text
0,Ngay khi bắt tay ai đó có thể chúng ta đã cảm ...,Tổng thống Mỹ Donald Trump và Tổng thống Pháp ...
1,"Rời khỏi Việt Nam vào 10/2016, ông Vũ Đình Duy...",Vũ Đình Duy hồi tháng 5 xuất hiện trước tòa tạ...
2,Thủ tướng Iraq xác nhận với BBC rằng Syria khô...,Ông Maliki xác nhận các vụ không kích của Syri...
3,Người Việt Nam biết rất ít về ông Trump nhưng ...,Tiến sỹ Vũ Cao Phan tin rằng nếu được tiến hàn...
4,Bốn khoa học gia người Mỹ từng đoạt giải Nobel...,GS Jack Steinberger trao đổi với GS Lê Kim Ngọ...
...,...,...
431116,Sussex Spaniel là một giống chó xù có nguồn gố...,Tổng quan\nGiống chó xù tai rũ này đã phát tri...
431117,"Chó Tahiti (tiếng Tahitian: īrī Mā'ohi, theo n...",Khảo cổ học\nCác ghi chép khảo cổ chỉ ra rằng ...
431118,Chó săn lội nước Spaniel Tweed (Tiếng Anh:Twee...,Ngoại hình và tính khí\nChó săn lội nước Spani...
431119,Ngựa Welara là một giống ngựa lai Ả Rập một ph...,Lịch sử\nPhép lai bắt đầu được thực hiện giữa ...
431120,Chó Chó Springer Spaniel Wales (tiếng Anh:Wels...,Sức khỏe\nChó Springer Spaniel Wales nhìn chun...